@media (max-width: 1280px) {
  .container {
    flex-direction: column;
    width: 90%;
    border-radius: 20px;
  }

  .container header {
    width: 100%;
  }

  .container header h1 {
    font-size: 24px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .container header #input-search,
  .container header #btn-search {
    width: 100%;
  }

  .event-box {
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  main {
    padding: 15% 0;
  }

  .container .profile-data .info img {
    margin-bottom: 20px;
  }

  .container .profile-data .info img,
  .container .profile-data .info .data {
    width: 100%;
    padding: 0;
  }

  .container .profile-data .events-items ul {
    padding: 15px;
  }
}

@media (max-width: 375px) {
  .container .profile-data .info img {
    width: 80%;
    align-self: center;
  }

  .events-items {
    width: 95%;
  }
}

@media (max-width: 320px) {
  .container .profile-data .repositories ul li a {
    width: 280px;
  }
  .events-items {
    width: 85%;
  }
}
